### Linear Regression  of ML

In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
boat= sns.load_dataset('titanic')

In [3]:
boat.shape,boat.size

((891, 15), 13365)

In [5]:
boat.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

### Linear Regession

In [ ]:
import pandas as pd 
df= pd.read_csv()